/* EventDetails.css */
.event-details {
  margin-top: 120px;
  padding: 20px;
  text-align: center;
}

.event-details h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.event-details h3 {
  color: #555;
  margin-bottom: 20px;
}

.event-details img {
  width: 60%;
  border-radius: 10px;
  margin-top: 20px;
}

.event-details p {
  margin-top: 20px;
  font-size: 1.1rem;
}

.event-details .error {
  color: #EE6C4D;
  margin-top: 100px;
}

.event-details .loading {
  margin-top: 100px;
  text-align: center;
}
