.custom-navbar {
  background-color: #EE6C4D !important;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
}

.meetfit-text {
  font-weight: 1000;
  font-size: 1.1rem; 
  color: #001F54; 
  letter-spacing: 2px;
  padding: 6px 20px; 
  border: 1px solid #001F54; 
  border-radius: 4px; 
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.meetfit-text:hover {
  color: #5E50F9; 
  transform: scale(1.05); 
  border: 1px solid #E3FE18; 
  text-shadow:
    2px 2px 6px rgba(229, 228, 244, 0.7), 
    0 0 10px rgba(220, 248, 167, 0.4); 
}

.custom2-btn {
  font-weight: 700;
  color: #001F54;  
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 5px 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: default;
}


.custom2-btn:hover {
  border-color: #001F54; 
  color: #001F54; 
}

.left-menu {
  margin-right: 3rem; 
}

.search-wrapper {
  max-width: 250px; 
}

.right-menu {
  margin-left: 5rem; 
}
